html  
    head
        title gh Pug 
    body
        header
            h1 ghghghgh h1
        section
            p alibababababbabba p 
        footer
            alibababababababa
           
                 body(bgcolor="yelow")
